@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie do wspomagania zarządzania biblioteką</h1>
    <p>Biblioteka projekt ASP NET MVC</p>
</div>
